h1 {
    /* background-color: red; */
    text-align: center;
}

.roomsList {
    display: flex;
    flex-direction: row;
    list-style: none;
    /* background-color: aqua; */
}

.roomsList > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:  10px;
    padding: 10px;
    background-color: lightgray;
}

.roomsList > li > h3,h4 {
    padding: 0;
    margin: 0;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
}

.btn-delete, .btn-update {
    display: inline-block;
    font: inherit;
    border: none;
    text-decoration: none;
    background-color: red;
    height: 40px;
    /* font-size: 15px; */
    width: 100%;

}

.btn-update {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    color: black;
}

.btn-update > a {
    text-decoration: none;
    color: black
}

.btn-delete:hover, .btn-update:hover {
    background-color: white;
    cursor: pointer;
}

/* --------------------------------------------------- */
