<form action="/admin/ingredient-weight-checkout" method="post">
    <button class="btn" type="submit">Add to Dish</button>
    <h6><%= ingredientTemplate._id %></h6>
    <input type="hidden" name="ingredientTemplateId" value="<%= ingredientTemplate._id %>">
</form>