<%- include('../../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../../includes/navigation.ejs') %>
    <h1>Add Ingredient Template</h1>
    <main>
        <form class="product-form" action="/admin/magazine-add-ingredient-template" method="POST">
            <div class="form-control">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="">
            </div>
            <div class="form-control">
                <label for="weight">Expiration date</label>
                <input type="date" name="expirationDate" id="expirationDate" value="">
            </div>
            <div class="form-control">
                <label for="Category">Category</label>
                <select name="category" id="category">
                    <option value="vegetable">vegetable</option>
                    <option value="fruit">fruit</option>
                    <option value="baking">baking</option>
                    <option value="meat">meat</option>
                </select>
            </div>
            <button class="btn" type="submit">dodaj</button>
        </form>
    </main>
</body>
</html>